@media screen and (max-width: 1200px) {
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    .main-title {
        font-size: 3.5rem;
    }

    .main-text-1,
    .main-text-2 {
        font-size: 1.25rem;
    }

    .main {
        height: 100vh;
    }
}