@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-black: #212121;
    --color-black-2: #0c0c0c;
    --color-white: #fefbf6;
    --color-green: #9AF48A;
    --color-red: #C80036;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* BACKGROUND */

.bg-ctr {
    background-color: black;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.simple-bg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 25%;
}

/* DESKTOP NAVIGATION BAR */

nav,
.nav-links {
    display: flex;
}

nav {
    height: 16vh;
    align-items: center;
    padding: 0 80px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    transition: all 0.3s ease;
}

.nav-links {
    gap: 8vw;
    list-style: none;
    font-size: 1rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: var(--color-white);
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 1vh;
    text-decoration-color: var(--color-white);
}

.logo {
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 700;
}

.logo:hover {
    cursor: default;
}

/* MOBILE NAVIGATION BAR */

.mobile-nav {
    display: none;
}

.mobile-menu {
    position: relative;
    display: inline-block;
}

.mobile-nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    background-color: black;
    z-index: 1;
}

.mobile-nav-links a {
    display: block;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.mobile-nav-links.open {
    max-height: 300px;
}

.mobile-menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    cursor: pointer;
}

.mobile-menu-icon span {
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: var(--color-white);
    transition: all 0.3s ease-in-out;
}

.mobile-menu-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.mobile-menu-icon.open span:nth-child(2) {
    opacity: 0;
}

.mobile-menu-icon.open span:last-child {
    background-color: var(--color-white);
    transform: rotate(-45deg) translate(10px, -5px);
}

/* STICKY NAV */

nav.sticky {
    background-color: var(--color-white);
    box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.50);
}

nav.sticky .logo,
nav.sticky ul li a {
    color: var(--color-black);
}

nav.sticky ul li a:hover {
    text-decoration-color: var(--color-black);
}

.mobile-nav.sticky {
    background-color: var(--color-white);
    box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.50);
}

.mobile-nav.sticky .mobile-menu .mobile-menu-icon span {
    background-color: var(--color-black);
}

.mobile-nav.sticky .mobile-nav-links {
    background-color: var(--color-white);
    top: 8vh;
}

/* MAIN SECTION */

.main {
    height: 84vh;
    width: 100%;
}

.main-content {
    margin: 80px;
    align-items: left;
    color: var(--color-white);
    position: absolute;
}

.main-title {
    font-size: 4rem;
    font-weight: 700;
}

.main-text-1,
.main-text-2 {
    font-size: 2rem;
    font-weight: 400;
}

.main-text-1 {
    margin-top: 40px;
}

.main-text-2 {
    margin-top: 5px;
}

.main-cta {
    margin-top: 40px;
    width: 320px;
    height: 100px;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-black-2);
    background-color: #9AF48A;
    transition: all 0.3s ease;
    outline: none;
}

.main-cta:hover {
    cursor: pointer;
    box-shadow: 0 0 25px 0 var(--color-green);
}

/* SERVICES SECTION */

.services {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.services-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}

.main-services-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.services-containers {
    display: flex;
    gap: 1rem;
    margin-top: 20px;
    padding: 0 80px 0 80px;
}

.details-container {
    flex: 1;
    padding: 1rem;
    text-align: center;
    transition: all 0.3s ease;
}

.details-container:hover {
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 10px;
}

.details-container:hover .service-img {
    display: none;
}

.details-container:hover .service-img-2 {
    display: block;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.service-img {
    width: 15%;
    height: 15%;
}

.service-img-2 {
    display: none;
}

.main-subtitle {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.service-text {
    font-size: 1.5rem;
    font-weight: 400;
}

/* CONTACT SECTION */

.contact {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--color-white);
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-title {
    font-size: 4rem;
    font-weight: 700;
    padding-left: 80px;
}

.main-contact-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-containers {
    display: flex;
    gap: 20%;
    margin-top: 20px;
    padding: 0 80px 0 80px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-container {
    width: 40%;
}

.input-field {
    display: inline-block;
    background: none;
    border: 3px solid var(--color-black);
    border-radius: 5px;
    height: 40px;
    width: 100%;
    padding: 0 10px 0 10px;
    font-size: 1rem;
    color: var(--color-black);
    outline: none;
}

.subject-input,
.msg-input,
.contact-submit {
    margin-top: 20px;
}

.msg-input {
    resize: none;
    scrollbar-width: none;
    padding-top: 10px;
    height: 20vh;
}

.contact-submit {
    width: 150px;
    height: 75px;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: var(--color-black);
    color: var(--color-white);
    border: none;
    outline: none;
    transition: all 0.3s ease;
    border: 3px solid var(--color-black);
    border-radius: 10px;
}

.contact-submit:hover {
    cursor: pointer;
    background-color: var(--color-white);
    color: var(--color-black);
    border: 3px solid var(--color-black);
}

.contact-img-container {
    width: 30%;
}

/* FOOTER */

footer {
    position: relative;
    width: 100%;
    height: 16vh;
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 80px;
}

.footer-copyright {
    font-size: 1rem;
    text-align: center;
}

.contact-text {
    text-align: left;
    color: var(--color-red);
    font-style: italic;
    font-weight: 500;
    padding: 0 0 10px 0;
    display: none;
}

.email-error.error,
.subject-error.error,
.msg-error.error {
    display: block;
    margin-top: 20px;
}

.email-input.error,
.subject-input.error,
.msg-input.error {
    border-color: var(--color-red);
    margin-top: 0;
}